@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #ff7e01;
  --secondary-color: #faa935;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--font-name);
  }
  

  .hero__content{
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--heading-color);
}
.section {
  margin-bottom: 10px;
}

.section__subtitle {
    background: var(--secondary-color);
    font-family: var(--subtitle-font-name);
    width: max-content;
    padding: 0px 0.5rem;
    padding-right: 1rem;
  
    border-radius: 50px;
    font-weight: 500;
    font-size: 1.7rem;
    color: var(--heading-color);
  }

  .services__subtitle{
    font-size: 1rem;
    font-weight: 500;
    color: #ee6e6e;
    font-family: var(--subtitle-font-name);
}



  @media only screen and (max-width: 768px) {
    .section__subtitle {
      font-size: 1.3rem;
    }
  }